Repository knaxus/problem-solving-javascript, pull requests merged in 2019-11, with the labels that each got.

#155 Heaps
  src/_DataStructures_/Heaps/MaxHeap/MaxHeap.test.js
  src/_DataStructures_/Heaps/MaxHeap/index.js
Labels: New Data Structure, enhancement

#157 fix: linked list removeAt()
  src/_DataStructures_/LinkedList/index.js
Labels: bug-fix, changes requested

#158 Problems
  .editorconfig
  .eslintrc.json
  .prettierrc.js
  TOC.md
  package-lock.json
  package.json
  src/_Problems_/compose-largest-number/compose-largest.test.js
  src/_Problems_/compose-largest-number/index.js
  src/_Problems_/factorial/factorial.test.js
  src/_Problems_/find-2nd-max/find-2nd-max.test.js
  src/_Problems_/get-subsequence/index.js
  src/_Problems_/get-subsequence/subsequence.test.js
  src/_Problems_/get_subsequence/index.js
  src/_Problems_/max-consecutive-1s/max-consecutive-1s.test.js
  src/_Problems_/max-product-of-3-numbers/max-product-of-3-numbers.test.js
Labels: enhancement, linter-fixes, new problem

#159 Code coverage
  src/_DataStructures_/Heaps/MaxHeap/MaxHeap.test.js
  src/_DataStructures_/Heaps/MinHeap/MinHeap.test.js
  src/_DataStructures_/LinkedList/LinkedList.test.js
  src/_DataStructures_/Trees/BinaryTree/bottom-view-binary-tree/BottomViewBinaryTree.test.js
  src/_DataStructures_/Trees/BinaryTree/btree-traversals.test.js
  src/_DataStructures_/Trees/Trie/Node.js
  src/_DataStructures_/Trees/Trie/all-words-in-trie/all-words-in-trie.test.js
  src/_DataStructures_/Trees/Trie/all-words-in-trie/index.js
  src/_DataStructures_/Trees/Trie/get-unique-words/index.js
  src/_DataStructures_/Trees/Trie/search.test.js
  src/_Problems_/binary-tree-to-binary-search-tree/binary-tree-to-binary-search-tree.test.js
  src/_Problems_/next-greater-element/index.js
  src/_Problems_/next-greater-element/next-greater-element.test.js
Labels: unit-test-aaded, unit-test-fix
